*{


    padding: 0;

margin: 0;



box-sizing: border-box;


}


body{

background-color: black;

}


.main-header{

background-color: rgb(108, 108, 245);

display: flex;

justify-content: space-between;

padding: 24px  82px;

}


.main-header span{

color: white;

font-size: 32px;

}


.main-header nav ul{

display: flex;

list-style: none;

gap: 24px;


}






.main-header   li a {


color: white;

text-decoration: none;

opacity: .6 ;


font-size: 18px;

transition: all .2s;


}

.main-header li a:hover{

    cursor:  pointer;

    opacity: 1;
    
    }



    @media (max-width:600px){



.main-header nav{

    background-color: rgba(108, 108, 245, 0.582);

width: 400px;

height: 100vh;

    position: fixed;


    top: 0px;


    left: -400px;


    backdrop-filter: blur(2px);

    padding: 32px;

    transition: all .6s;

}


.main-header nav.opened{

left: 0;

}
    

.main-header ul{


flex-direction: column;





}

.main-header li a {


opacity: 1;

}


    }